<% include partials/header %>

<h1>
  <%= title %>
</h1>

<form class="searchBar" method="POST" action="/recipes">
  <div class="input_1">
    <input class="searchInput" id="search" type="text" name="searchBar" placeholder="search for recipes">
  </div>

  <div class="buttons">
    <button class="submitButtons" type="submit">Submit </button>
    <button class="homeButton" type="submit">Home </button>
  </div>

</form>
<h4>
  <%= items %>
  </h4>
  
<% if (items){ %>
<div class="displayFoods">
  <div class="row">
    <%for (item in items){ %>
    <div class="recipeCards" id='card'>
      <% const obj = {
                "url":item.f2f_url,
                "img":item.image_url
              } %>
      <a href=obj.url img class="img-top" src=obj.img </a>
      <div class="card-body">
        <h3 class="card-title"> #{item.title}>
    </div>
  </div>
  <%  } %>
</div>
</div>

<% } %>

<% include partials/footer %>
