<% include partials/header %>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto" rel="stylesheet">
<div class = "topOfthePage">
<h1>
  <%= title %>
</h1>

<form class="searchBar" method="POST" action="/recipes">
  <div class="input_1">
    <input class="searchInput" id="search" type="text" name="searchBar" placeholder="Search here">
  </div>

  <div class="buttons">
    <button class="submitButtons" type="submit">Submit </button>
    <button class="homeButton" type="submit">Home </button>
  </div>

</form>
</div>



<% if (items){ %>

<div class="cards">
  <% for (links in url){ %>
    <div class="indivdualCards">
  <img src='<%= images[links] %>'style="width:328px;height:328px;">
 <a class = "recipeLinks" href='<%= url[links] %>' target="_blank"><%=recipeTitle[links] %></a>
</div>
  <% } %>

<% } %>
</div>


<% include partials/footer %>
