<% include partials/header %>

<h1>
  <%= title %>
</h1>

<form class="searchBar" method="POST" action="/recipes">
  <div class="input_1">
    <input class="searchInput" id="search" type="text" name="searchBar" placeholder="search for recipes">
  </div>

  <div class="buttons">
    <button class="submitButtons" type="submit">Submit </button>
    <button class="homeButton" type="submit">Home </button>
  </div>

</form>


<% if (items){ %>

  <% for (links in url){ %>
  <img src='<%= images[links] %>'>
 <a href='<%= url[links] %>'>'<%=recipeTitle[links] %>'</a>

  <% } %>

<% } %>


<% include partials/footer %>
