<% include partials/header %>

<h1>
  <%= title %>
</h1>

<div class="input_1">
  <input class="searchInput" id="search" type="text" name="search" placeholder="search for recipes">
</div>

<div class="buttons">
  <button class="submitButtons" type="submit">Submit </button>
  <button class="homeButton" type="submit">Home </button>
</div>

<% include partials/footer %>
