

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 93px;
}

.topOfthePage{
  text-align: center;
}

.input_1{
padding-bottom: 10px;

}

.indivdualCards {

  display: inline-block;
  margin: 30px;
}


::-webkit-input-placeholder {
   text-align: center;
}

.recipeLinks {
display: block;
font-family: 'Roboto', sans-serif;
}

.cards {
  display: inline-block;
  text-align: center;
}
